{
    "smithy": "2.0",
    "shapes": {
        "smithy.ruby.tests#ReadOperation": {
            "type": "operation",
            "input": {
                "target": "smithy.ruby.tests#ReadOperationInput"
            },
            "output": {
                "target": "smithy.ruby.tests#ReadOperationOutput"
            },
            "errors": [
                {
                    "target": "smithy.ruby.tests#SomeError"
                }
            ],
            "traits": {
                "smithy.api#readonly": {}
            }
        },
        "smithy.ruby.tests#ReadOperationInput": {
            "type": "structure",
            "members": {
                "someId": {
                    "target": "smithy.ruby.tests#SomeId",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "smithy.ruby.tests#ReadOperationOutput": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#notProperty": {},
                        "smithy.api#required": {}
                    }
                },
                "someProperties": {
                    "target": "smithy.ruby.tests#SomeProperties",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "smithy.ruby.tests#ShapeService": {
            "type": "service",
            "version": "2018-10-31",
            "operations": [
                {
                    "target": "smithy.ruby.tests#SomeOperation"
                }
            ],
            "resources": [
                {
                    "target": "smithy.ruby.tests#SomeResource"
                }
            ],
            "traits": {
                "smithy.api#paginated": {
                    "inputToken": "nextToken",
                    "outputToken": "nextToken",
                    "pageSize": "pageSize"
                }
            }
        },
        "smithy.ruby.tests#SomeEnum": {
            "type": "enum",
            "members": {
                "DOG": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "dog"
                    }
                },
                "CAT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "cat"
                    }
                }
            }
        },
        "smithy.ruby.tests#SomeError": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#error": "client"
            }
        },
        "smithy.ruby.tests#SomeId": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[A-Za-z0-9 ]+$"
            }
        },
        "smithy.ruby.tests#SomeIntEnum": {
            "type": "intEnum",
            "members": {
                "FOO": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": 1
                    }
                },
                "BAR": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": 2
                    }
                }
            }
        },
        "smithy.ruby.tests#SomeList": {
            "type": "list",
            "member": {
                "target": "smithy.api#String"
            }
        },
        "smithy.ruby.tests#SomeMap": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "smithy.api#Integer"
            }
        },
        "smithy.ruby.tests#SomeOperation": {
            "type": "operation",
            "input": {
                "target": "smithy.ruby.tests#SomeOperationInput"
            },
            "output": {
                "target": "smithy.ruby.tests#SomeOperationOutput"
            },
            "errors": [
                {
                    "target": "smithy.ruby.tests#SomeError"
                }
            ]
        },
        "smithy.ruby.tests#SomeOperationInput": {
            "type": "structure",
            "members": {
                "bigDecimal": {
                    "target": "smithy.api#BigDecimal"
                },
                "bigInteger": {
                    "target": "smithy.api#BigInteger"
                },
                "blob": {
                    "target": "smithy.api#Blob"
                },
                "boolean": {
                    "target": "smithy.api#Boolean"
                },
                "byte": {
                    "target": "smithy.api#Byte"
                },
                "double": {
                    "target": "smithy.api#Double"
                },
                "enum": {
                    "target": "smithy.ruby.tests#SomeEnum"
                },
                "float": {
                    "target": "smithy.api#Float"
                },
                "integer": {
                    "target": "smithy.api#Integer"
                },
                "intEnum": {
                    "target": "smithy.ruby.tests#SomeIntEnum"
                },
                "long": {
                    "target": "smithy.api#Long"
                },
                "short": {
                    "target": "smithy.api#Short"
                },
                "string": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "timestamp": {
                    "target": "smithy.api#Timestamp"
                }
            },
            "traits": {
                "smithy.api#documentation": "This is a documentation",
                "smithy.api#input": {}
            }
        },
        "smithy.ruby.tests#SomeOperationOutput": {
            "type": "structure",
            "members": {
                "list": {
                    "target": "smithy.ruby.tests#SomeList"
                },
                "map": {
                    "target": "smithy.ruby.tests#SomeMap"
                },
                "union": {
                    "target": "smithy.ruby.tests#SomeUnion"
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "smithy.ruby.tests#SomeProperties": {
            "type": "structure",
            "members": {
                "propertyNumber": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "smithy.ruby.tests#SomeResource": {
            "type": "resource",
            "identifiers": {
                "someId": {
                    "target": "smithy.ruby.tests#SomeId"
                }
            },
            "properties": {
                "someProperties": {
                    "target": "smithy.ruby.tests#SomeProperties"
                }
            },
            "read": {
                "target": "smithy.ruby.tests#ReadOperation"
            }
        },
        "smithy.ruby.tests#SomeUnion": {
            "type": "union",
            "members": {
                "thing": {
                    "target": "smithy.api#String"
                }
            }
        }
    }
}
