{
    "smithy": "2.0",
    "shapes": {
        "example#EmptyStaticContextOperation": {
            "type": "operation",
            "input": {
                "target": "example#EmptyStaticContextOperationInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "traits": {
                "smithy.api#suppress": [
                    "UnstableTrait"
                ],
                "smithy.rules#staticContextParams": {
                    "stringArrayParam": {
                        "value": []
                    }
                }
            }
        },
        "example#EmptyStaticContextOperationInput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#input": {}
            }
        },
        "example#EndpointStringArrayService": {
            "type": "service",
            "version": "2022-01-01",
            "operations": [
                {
                    "target": "example#EmptyStaticContextOperation"
                },
                {
                    "target": "example#ListOfObjectsOperation"
                },
                {
                    "target": "example#MapOperation"
                },
                {
                    "target": "example#NoBindingsOperation"
                },
                {
                    "target": "example#StaticContextOperation"
                }
            ],
            "traits": {
                "smithy.api#suppress": [
                    "UnstableTrait"
                ],
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "stringArrayParam": {
                            "type": "stringArray",
                            "required": true,
                            "default": [
                                "defaultValue1",
                                "defaultValue2"
                            ],
                            "documentation": "docs"
                        }
                    },
                    "rules": [
                        {
                            "documentation": "Template first array value into URI if set",
                            "conditions": [
                                {
                                    "fn": "getAttr",
                                    "argv": [
                                        {
                                            "ref": "stringArrayParam"
                                        },
                                        "[0]"
                                    ],
                                    "assign": "arrayValue"
                                }
                            ],
                            "endpoint": {
                                "url": "https://example.com/{arrayValue}"
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "documentation": "error fallthrough",
                            "error": "no array values set",
                            "type": "error"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "version": "1.0",
                    "testCases": [
                        {
                            "documentation": "Default array values used",
                            "params": {},
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com/defaultValue1"
                                }
                            },
                            "operationInputs": [
                                {
                                    "operationName": "NoBindingsOperation"
                                }
                            ]
                        },
                        {
                            "documentation": "Empty array",
                            "params": {
                                "stringArrayParam": []
                            },
                            "expect": {
                                "error": "no array values set"
                            },
                            "operationInputs": [
                                {
                                    "operationName": "EmptyStaticContextOperation"
                                }
                            ]
                        },
                        {
                            "documentation": "Static value",
                            "params": {
                                "stringArrayParam": [
                                    "staticValue1"
                                ]
                            },
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com/staticValue1"
                                }
                            },
                            "operationInputs": [
                                {
                                    "operationName": "StaticContextOperation"
                                }
                            ]
                        },
                        {
                            "documentation": "bound value from input",
                            "params": {
                                "stringArrayParam": [
                                    "key1"
                                ]
                            },
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com/key1"
                                }
                            },
                            "operationInputs": [
                                {
                                    "operationName": "ListOfObjectsOperation",
                                    "operationParams": {
                                        "nested": {
                                            "listOfObjects": [
                                                {
                                                    "key": "key1"
                                                }
                                            ]
                                        }
                                    }
                                },
                                {
                                    "operationName": "MapOperation",
                                    "operationParams": {
                                        "map": {
                                            "key1": "value1"
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                }
            }
        },
        "example#ListOfObjects": {
            "type": "list",
            "member": {
                "target": "example#ObjectMember"
            }
        },
        "example#ListOfObjectsOperation": {
            "type": "operation",
            "input": {
                "target": "example#ListOfObjectsOperationInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "traits": {
                "smithy.api#suppress": [
                    "UnstableTrait"
                ],
                "smithy.rules#operationContextParams": {
                    "stringArrayParam": {
                        "path": "nested.listOfObjects[*].key"
                    }
                }
            }
        },
        "example#ListOfObjectsOperationInput": {
            "type": "structure",
            "members": {
                "nested": {
                    "target": "example#Nested"
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "example#Map": {
            "type": "map",
            "key": {
                "target": "smithy.api#String"
            },
            "value": {
                "target": "smithy.api#String"
            }
        },
        "example#MapOperation": {
            "type": "operation",
            "input": {
                "target": "example#MapOperationInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "traits": {
                "smithy.api#suppress": [
                    "UnstableTrait"
                ],
                "smithy.rules#operationContextParams": {
                    "stringArrayParam": {
                        "path": "keys(map)"
                    }
                }
            }
        },
        "example#MapOperationInput": {
            "type": "structure",
            "members": {
                "map": {
                    "target": "example#Map"
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "example#Nested": {
            "type": "structure",
            "members": {
                "listOfObjects": {
                    "target": "example#ListOfObjects"
                }
            }
        },
        "example#NoBindingsOperation": {
            "type": "operation",
            "input": {
                "target": "example#NoBindingsOperationInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            }
        },
        "example#NoBindingsOperationInput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#input": {}
            }
        },
        "example#ObjectMember": {
            "type": "structure",
            "members": {
                "key": {
                    "target": "smithy.api#String"
                }
            }
        },
        "example#StaticContextOperation": {
            "type": "operation",
            "input": {
                "target": "example#StaticContextOperationInput"
            },
            "output": {
                "target": "smithy.api#Unit"
            },
            "traits": {
                "smithy.api#suppress": [
                    "UnstableTrait"
                ],
                "smithy.rules#staticContextParams": {
                    "stringArrayParam": {
                        "value": [
                            "staticValue1"
                        ]
                    }
                }
            }
        },
        "example#StaticContextOperationInput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#input": {}
            }
        }
    }
}
