{
    "smithy": "2.0",
    "shapes": {
        "smithy.ruby.tests.weather#City": {
            "type": "resource",
            "identifiers": {
                "cityId": {
                    "target": "smithy.ruby.tests.weather#CityId"
                }
            },
            "properties": {
                "coordinates": {
                    "target": "smithy.ruby.tests.weather#CityCoordinates"
                }
            },
            "read": {
                "target": "smithy.ruby.tests.weather#GetCity"
            },
            "list": {
                "target": "smithy.ruby.tests.weather#ListCities"
            },
            "resources": [
                {
                    "target": "smithy.ruby.tests.weather#Forecast"
                }
            ]
        },
        "smithy.ruby.tests.weather#CityCoordinates": {
            "type": "structure",
            "members": {
                "latitude": {
                    "target": "smithy.api#Float",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "longitude": {
                    "target": "smithy.api#Float",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "smithy.ruby.tests.weather#CityId": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[A-Za-z0-9 ]+$"
            }
        },
        "smithy.ruby.tests.weather#CitySummaries": {
            "type": "list",
            "member": {
                "target": "smithy.ruby.tests.weather#CitySummary"
            }
        },
        "smithy.ruby.tests.weather#CitySummary": {
            "type": "structure",
            "members": {
                "cityId": {
                    "target": "smithy.ruby.tests.weather#CityId",
                    "traits": {
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#references": [
                    {
                        "resource": "smithy.ruby.tests.weather#City"
                    }
                ]
            }
        },
        "smithy.ruby.tests.weather#Forecast": {
            "type": "resource",
            "identifiers": {
                "cityId": {
                    "target": "smithy.ruby.tests.weather#CityId"
                }
            },
            "properties": {
                "chanceOfRain": {
                    "target": "smithy.api#Float"
                }
            },
            "read": {
                "target": "smithy.ruby.tests.weather#GetForecast"
            }
        },
        "smithy.ruby.tests.weather#GetCity": {
            "type": "operation",
            "input": {
                "target": "smithy.ruby.tests.weather#GetCityInput"
            },
            "output": {
                "target": "smithy.ruby.tests.weather#GetCityOutput"
            },
            "errors": [
                {
                    "target": "smithy.ruby.tests.weather#NoSuchResource"
                }
            ],
            "traits": {
                "smithy.api#readonly": {}
            }
        },
        "smithy.ruby.tests.weather#GetCityInput": {
            "type": "structure",
            "members": {
                "cityId": {
                    "target": "smithy.ruby.tests.weather#CityId",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "smithy.ruby.tests.weather#GetCityOutput": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#notProperty": {},
                        "smithy.api#required": {}
                    }
                },
                "coordinates": {
                    "target": "smithy.ruby.tests.weather#CityCoordinates",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "smithy.ruby.tests.weather#GetCurrentTime": {
            "type": "operation",
            "input": {
                "target": "smithy.api#Unit"
            },
            "output": {
                "target": "smithy.ruby.tests.weather#GetCurrentTimeOutput"
            },
            "traits": {
                "smithy.api#readonly": {}
            }
        },
        "smithy.ruby.tests.weather#GetCurrentTimeOutput": {
            "type": "structure",
            "members": {
                "time": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "smithy.ruby.tests.weather#GetForecast": {
            "type": "operation",
            "input": {
                "target": "smithy.ruby.tests.weather#GetForecastInput"
            },
            "output": {
                "target": "smithy.ruby.tests.weather#GetForecastOutput"
            },
            "traits": {
                "smithy.api#readonly": {}
            }
        },
        "smithy.ruby.tests.weather#GetForecastInput": {
            "type": "structure",
            "members": {
                "cityId": {
                    "target": "smithy.ruby.tests.weather#CityId",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "smithy.ruby.tests.weather#GetForecastOutput": {
            "type": "structure",
            "members": {
                "chanceOfRain": {
                    "target": "smithy.api#Float"
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "smithy.ruby.tests.weather#ListCities": {
            "type": "operation",
            "input": {
                "target": "smithy.ruby.tests.weather#ListCitiesInput"
            },
            "output": {
                "target": "smithy.ruby.tests.weather#ListCitiesOutput"
            },
            "traits": {
                "smithy.api#paginated": {
                    "items": "items"
                },
                "smithy.api#readonly": {}
            }
        },
        "smithy.ruby.tests.weather#ListCitiesInput": {
            "type": "structure",
            "members": {
                "nextToken": {
                    "target": "smithy.api#String"
                },
                "pageSize": {
                    "target": "smithy.api#Integer"
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "smithy.ruby.tests.weather#ListCitiesOutput": {
            "type": "structure",
            "members": {
                "nextToken": {
                    "target": "smithy.api#String"
                },
                "items": {
                    "target": "smithy.ruby.tests.weather#CitySummaries",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "smithy.ruby.tests.weather#NoSuchResource": {
            "type": "structure",
            "members": {
                "resourceType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#error": "client"
            }
        },
        "smithy.ruby.tests.weather#Weather": {
            "type": "service",
            "version": "2006-03-01",
            "operations": [
                {
                    "target": "smithy.ruby.tests.weather#GetCurrentTime"
                }
            ],
            "resources": [
                {
                    "target": "smithy.ruby.tests.weather#City"
                }
            ],
            "traits": {
                "smithy.api#documentation": "Provides weather forecasts.",
                "smithy.api#paginated": {
                    "inputToken": "nextToken",
                    "outputToken": "nextToken",
                    "pageSize": "pageSize"
                }
            }
        }
    }
}
